/* * * * * BASE STYLES * * * * */
html {
    font-size: 16px;
}

@-ms-viewport{
    width: device-width;
  }

body {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: #2b2b2b;
   background: white;
   
  }



  header{
      margin: 0;
  }

  h1, h2, h3, h4, p {
    font-family: 'Lato', sans-serif;
  }

  img {
      width: 90%;
  }

  #about {
      background-color: white;
  }


/* * * * * GRID * * * * */





 /* -------------------------------------------
            MOBIL SETTINGS
----------------------------------------------

/* * * * * HEADER * * * * */

header,
footer {
  background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    
}

header { 
    background: url(../img/vanesa-portfolio-header.png);  
    background-size: cover;

}

h1 {
    font-family: 'Assistant', sans-serif;
    color: white;
    font-size: 2em;
    font-weight: 400;
    
    text-align: left;
}


nav{
   width: 100%; 
    display: block;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
   margin-bottom: 20px;
    
}


header nav ul {

  display:flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
} 

nav ul li{
    display: inline-block;
}

nav ul li a{
    display:flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    color:#363633 ;
}

nav #contact-link {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}

header h2{
    font-size: 2.75em;
    width: 100%;
    display: flex;
    justify-content: left;
    font-stretch: expanded;
    clear: both;
    text-transform: lowercase;
    font-weight: lighter;
    margin-left:15px ;
}


/***** GALLERY *****/



#gallery {
    background: white;
    padding: 80px 0 60px 0;
     
}

#gallery .full-width {
    margin-top: 20px;
    font-weight: 300;
   
}

#gallery .fifth-width{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-flow: column;
    
}
#gallery img {
    margin: 5px;
    }

#gallery .fifth-width p {
    font-size: 1em;
    width: 65%;
    margin: 10px auto;
    text-align: start;
}


#gallery h2, #skills h2{
    
    font-weight: 300;
    color:black;
    font-size: 1.5em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

    
}
#gallery span {
    font-weight: 400;
}
#gallery h3 {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 32px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

        
figure {
    filter: drop-shadow(1px 2px 6px lightgrey);
   }

.class-project {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300 ;
    color: white;
    font-size: 1.25em;
    background-color: #8caac1;
    padding: 10px;
    border-radius: 30px;
    margin: 40px 0;
    width: 30%;
}
/**** SKILLS ****/

#skills{
    background: #8caac1;
    padding: 60px 0 80px 0;
}

#skills h2{
    color: white;
    margin-bottom: 40px;
}


.code-skills, .code-tools {
    
    display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.code-skills article, .code-tools article {
    width: 40%;
    padding: 60px 0 30px 0;
    display: flex;
    flex-flow: column;
  }
  article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
  }
article i {
	font-size: 2.5em;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  


#tools p, #skills p {
    font-size: 1em;
    color: white;
    font-weight: 100;
}
#tools h2 {
    margin: 80px 0;
    background-color: white;
    color: #8caac1;
    font-weight: 300;

}
#tools .photoshop  {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
}


/* * * * * ABOUT * * * * */
#about .full-width {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 80px 0;
    width: 80%;
   
}

#about .half-width {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#about h4, #about p {
    line-height: 1.5em;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}


#about h2 {
    font-family: 'Assistant', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    width: 100%;
    
    
}

#about p {
    font-size: 1.15em;
    color: #7f7f7f;
    margin-bottom: 60px;
}

#about .last-par{
    color: black;
}

#about h4 {
    font-size: 1.25em;
    font-weight: 400;
    
    margin-bottom: 40px;
}

#about img {
    width: 75%;
    max-height: 500px;
    max-width: fit-content;
    border: solid #a1a0a0;
    margin-bottom: 40px;

   
} 
/******* FOOTER *********/

#contact-info {
    border-top: 15px solid #8caac1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    
   }

   footer .full-width{
       width: 100%;
   }
   
footer .half-width{
    width: 100%;
    display: flex;
    justify-content: center;
    

}
   footer p {
    margin: 0;
  }

   #contact-info h3{
       width: 100%;
       font-size: 1.5em;
       display: flex;
       justify-content: center;
       margin: 80px 0 60px 0
   }
   
   .social {
       width: 50%;
   }
   .social h4, .contact h4, .meet-up h4 {
       margin: 60px 0 30px 0;
       font-size: 1.25em;
       display: flex;
       justify-content: center;
   }
 
   .contact p, .meet-up p, .social p {
       font-size: 1em;
       line-height: 1.5em;
   }
   address, .meet-up{
       text-align: center; 
   }

   address p {
       font-style: normal;
       
   }
   
   footer .social-icons {
     display: flex;
     justify-content: space-around;
     align-items: center;
     color: white;
   }
   
   footer .social-icons p {
     background-color: #8caac1;

     border-radius: 50%;
     width: 60px;
     height: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   
   footer .social-icons p a i {
     font-size: 2em;
     color: aliceblue;
   }
   
   .social-icons p a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
   
   footer .copyright {
       font-size: 1em;
     width: 100%;
     margin: 60px 0;
     display: flex;
     justify-content: center;

   }

/* -------------------------------------------
            END OF MOBIL SETTINGS
----------------------------------------------

/* ------------ MEDIA QUARIES -------------- */


@media only screen and (min-width: 768px)  {
    /*Tablet styles here*/
    
    body {
        background-color: aqua;
       
    }

/* * * HEADER * * */
nav{
    margin: 80px 0;
}
h1 {
    font-size: 3em;
    margin: 0;

}

header h2{
    font-size:4em ;
    padding-left: 30px;
    margin: 80px 0;
}





/* * * Gallery * * */

    #gallery h3 {
        font-size: 1.25em;
    }

    #gallery .fifth-width{
        width: 50%;
    }
#gallery .fifth-width p {
    font-size: 1em;
}

    #gallery .full-width{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-flow: row wrap;
    }
   
    

    #gallery img {
        width: 70%;
    }

    #gallery a {
        font-size: 1em;
    }

    article i{
        font-size: 4em;
    }
/* ------ABOUT--------*/




/* ------FOOTER--------*/
footer .social-icons p {
   
    
    
    width: 30px;
    height: 30px;
}

    footer .social-icons p a i {
        font-size: 1em;
        color: aliceblue;
      }

    footer .half-width{
        width: 30%;
    }
}

   

@media only screen and (min-width: 1200px) {
    /*Desktop styles here*/
     body {
       background-color: red;
     }

    /***** HEADER **********/

   header {
       justify-content: end;
   }

    nav {
        width: 50%;
        display: block;
        justify-content: end;
        align-items: center;
        margin-right: 40px;
    }


    header nav ul {

        display:flex;
        justify-content: space-around;
      } 

      nav ul li{
        display: inline-block;
    }
    
    nav ul li a{
        display:flex;
        justify-content: space-around;
        text-transform: uppercase;
        font-size: 1.5em;
       
        color:#363633 ;
    }
    h1{
        font-size: 4em;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    header h2 {
        font-size: 5.5em;
        margin: 40px 0 140px 0;
        padding-left: 60px;
    }
     
     #gallery .fifth-width {
        width: 33%;
        
        display: flex; 
    }

    
#gallery h3 {
    font-size: 1.5em;
}

#gallery .fifth-width img {
    width: 100%;
}
#gallery .fifth-width p {
    font-size: 1.25em;
}


.code-skills article {
    width: 33%;
     }



     /* ------FOOTER--------*/


footer .social-icons p {

    width: 30px;
    height: 30px;
}

.contact, .social, .meet-up{
    align-items: flex-start;
}
   

    footer .half-width{
        width: 30%;
       
    }
    

/* ------ABOUT--------*/

#about h2 {
    font-size: 3em;
}

#about h4 {
    font-size: 2em;
}

#about p {
    font-size: 1.25em;
}
 


}