/* * * * * BASE STYLES * * * * */
html {
    font-size: 16px;
}

body {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: #2b2b2b;
  }

  header{
      margin: 0;
  }

  h1, h2, h3, h4, p {
    font-family: 'Lato', sans-serif;
  }

/* * * * * GRID * * * * */





 

/* * * * * HEADER * * * * */


header{ 
       
    background: #8caac1;  
    padding-top: 30px;  
    margin-bottom: 30px;
}

h1{
    font-size: 2em;
    color: whitesmoke;
    margin-right: 80px;
    text-transform: uppercase;
    font-weight: 300;
    
}

nav{
   width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
   margin-bottom: 60px;
    
}

header nav ul {
    width: 100%;
  display:flex;
  justify-content: space-around;
}
nav ul li{
    display: inline-block;
}

nav ul li a{
    display:flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 300;
    text-decoration: none;
    color:#363633 ;
}

nav #contact-link {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}

header h2{
    font-size: 4em;
    
    display: flex;
    justify-content: left;
    
    clear: both;
    text-transform: lowercase;
    font-weight: lighter;
    padding-bottom: 30px;
    margin-left:15px ;
}


/***** GALLERY *****/



#gallery {
    background: white;
    margin: 80px 0 60px 0;
    
    
       
}

#gallery .full-width {
    margin-top: 20px;
    font-weight: 300;
   
}

#gallery .fifth-width{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    
}
#gallery img {
    margin: 5px;
    width: 75%;
    
    }

#gallery .fifth-width p {
    font-size: 2em;
    width: 50%;
    margin: 10px auto;
    text-align: start;
}


#gallery h2, #skills h2{
    
    font-weight: 300;
    color:black;
    font-size: 2em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

    
}
#gallery span {
    font-weight: 400;
}
#gallery h3 {
    font-weight: 400;
    font-size: 2.5em;
    line-height: 32px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

        
figure {
    filter: drop-shadow(1px 2px 6px lightgrey);
   }

.class-project {
    text-decoration: none;
    font-size: 3em;
    background-color: #8caac1;
    padding: 10px;
    border-radius: 30px;
}
/**** SKILS ****/

#skills{
    background: #8caac1;
    padding: 60px 0 80px 0;
}

#skills h2{
    color: white;
    margin-bottom: 40px;
}


.code-skills {
    
    display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.code-skills article {
    width: 30%;
    padding: 60px 0 30px 0;
  }
  article {
      display: flex;
      justify-content: center;
  }
article i {
	font-size: 3.75em;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


/* * * * * ABOUT * * * * */
#about .full-width {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 80px 0;
    width: 80%;
   
}

#about .half-width {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#about h4, #about p {
    line-height: 1.5em;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}


#about h2 {
    font-size: 3em;
    font-weight: 600;
    width: 100%;
    
    
}

#about p {
    font-size: 2em;
    color: #7f7f7f;
    
    
    margin-bottom: 60px;

    
}

#about h4 {
    font-size: 2.5em;
    font-weight: 400;
    
    margin-bottom: 40px;
}

#about img {
    width: 75%;
    border: solid #a1a0a0;
    margin-bottom: 40px;

   
} 
/******* FOOTER *********/

#contact-info {
    border-top: 15px solid #8caac1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
   }
   
footer .half-width{
    width: 50%;
    display: flex;
    justify-content: center;

}
   footer p {
    margin: 0;
  }

   #contact-info h3{
       width: 100%;
       font-size: 2em;
       display: flex;
       justify-content: center;
       margin: 160px 0 80px 0
   }
   
   .social {
       width: 50%;
   }
   .social h4 {
       display: flex;
       justify-content: center;
   }
 
   address h4{
       display: flex;
       justify-content: center;
       font-family: 'Lato', sans-serif;
       font-style: normal;

       
   }
   
   footer .social-icons {
     display: flex;
     justify-content: space-around;
     align-items: center;
     color: white;
   }
   
   footer .social-icons p {
     background-color: #8caac1;
     
     border-radius: 50%;
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   
   
   footer .social-icons p a i {
     font-size: 1.3125em;
     color: aliceblue;
   }
   
   .social-icons p a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
   
   footer .copyright {
     width: 100%;
     margin: 40px 0 140px 0;
     display: flex;
     justify-content: center;

   }

